# Python development things
.venv
.tox
__version__.py
*.pyc
*.egg-info
build
dist
*.env
uv.lock

# Preserve Containerfiles, even if not other files
models/*/*
!models/*/Containerfile

# Keep a local config for myself
config.toml
