# Python development things
.venv
.tox
__version__.py
*.pyc
*.egg-info
build
dist
*.env
uv.lock

# Preserve Containerfiles, even if not other files
models/*
!models/.gitkeep

# working directory
tmp/*
!tmp/.gitkeep

# Keep a local config for myself
config.toml
